<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
		<title>Raspberry Pi Home Security</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='static/bootstrap.min.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='static/style.css') }}">
	</head>

	<body class="black-scheme">
		<header class="container-fluid">
			<div class="sg-logo">
				<a href="index.html"><img src="static/img/abblogo.png" alt="BBB"/></a>
			</div>
		</header>
		<section class="inner-page container-fluid">
			<div class="inner-page-heading row">
				<div class="col-xs-12">
					<h1>Credits</h1>
				</div>
			</div>
		</section>
		<section class="inner-page container-fluid">
			<div class="credits-content">
				<p>RASPBERRY PI HOME SECURITY was built in CS 370 at Colorado State University in Spring 2018.</p>
				<p><span class="uppercase">RESEARCHERS</span>Brian Piña, Project Leader<br/>Brandon Vasquez<br/>Andre Bass</p>
				<p>For more details on the project, please email <a href="mailto:rabass@rams.colostate.edu?Subject=Raspberry%20Pi">Andre</a></p>
				<p>© ANDRE BASS<br />WEBSITE REMAINS © OF ITS AUTHOR</p>
			</div>
		</section>

		<footer class="container-fluid">
			<div class="row main-footer">
				<div class="col-sm-4 footer-name">
					<h5><span>ANDRE</span></h5>
                    <h5><span>BRANDON</span></h5>
                    <h5><span>BRIAN</span></h5>
				</div>
				<div class="col-sm-4">
					<h5>04.01.18</h5>
                    <h5>05.04.18</h5>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>BUILD IT</li>
						<li>RASPBERRY PI</li>
						<li>RASPBERRY CAMERA</li>
						<li>WIFI DONGLE</li>
						<li>CASE</li>
					</ul>
				</div>
				<div class="sg-network">
					<div class="footer-info">
						<a href="https://www.colostate.edu">
							<img class="less-padding" src="static/img/csulogo.png" width="194" height="52">
						</a>
					</div>
					<div class="footer-info">
						<span class="large">
							RASPBERRY PI SECURITY CAMERA IS DONE IN ASSOCIATION WITH THE CS370 COURSE AT COLORADO STATE UNIVERSITY
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 footer-bottom-info">
					<div class="footer-info">
						<h5>Founding Group</h5>
						<a href="https://github.com/CSUGameOfThreads/">
							<img src="static/img/got.png" width="50" height="50">
						</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
