<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	  <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>Raspberry Pi Home Security</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='style.css') }}">
		<script>
			// Sending start command to server
			$(document).ready(function(){
				$("#start_button").click(function(e){
						e.preventDefault();
					$.ajax({type: "POST",
									url: "/start",
									data: {},
									success:function(result){
						$("#start_button").html(result);
					}});
				});
			});
			
			// Sending stop command to server
			$(document).ready(function(){
				$("#stop_button").click(function(e){
						e.preventDefault();
					$.ajax({type: "POST",
									url: "/stop",
									data: {},
									success:function(result){
						$("#stop_button").html(result);
					}});
				});
				
				// Checking system status
				(function worker() {
					 $.ajax({
						 url: '/status', 
						 success: function(data) {
							 $('#status_bar').html(data);
						 },
						 complete: function() {
							 // Schedule the next request when the current one's complete
							 setTimeout(worker, 5000);
						 }
					 });
				})();
			});
		</script>
	</head>

	<body class="black-scheme">
		<header class="container-fluid">
			<div class="sg-logo">
				<a href="index.html"><img src="/static/img/abblogo.png" alt="BBB"/></a>
			</div>
		</header>

		<span id="status_bar"></span>

		<section class="main-text container-fluid">
			<div class="three-row row">
				<div class="col-xs-12">
          ANDRE
				</div>
			</div>
			<div class="nine-row row">
				<div class="col-xs-12">
					BRANDON
				</div>
			</div>
			<div class="ten-row row">
				<div class="col-xs-12">
					BRIAN
				</div>
			</div>
			<div class="ten-row row">
				<div class="col-xs-12">
					04.25.2018
				</div>
			</div>
        </section>

		<section class="video">
			<video autoplay loop muted plays-inline>
			  <source src="http://thenewcode.com/assets/videos/glacier.mp4" type="video/mp4">
			</video>
		</section>

		<section class="about-copy container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<p>Home security is a prime issue of concern because it’s not just about your financial or monetary safety but much more than that. Everyone want the happiness and protection of their dear ones from intruders, zombies, fires or a downright apocalypse. Security Cameras and motion sensors prevent your home sweet home safe from intruders.</p>
				</div>
			</div>
		</section>

		<section class="links container-fluid">
			<div class="eight-row row">
				<div class="col-xs-12">
					<button id="start_button">START</button>
				</div>
			</div>
			<div class="six-row row">
				<div class="col-xs-12">
					<button id="start_button">STOP</button>
				</div>
			</div>
			<div class="five-row row">
				<div class="col-xs-12">
					<a href="credits.html">CREDITS</a>
				</div>
			</div>
        </section>
        
		<footer class="container-fluid">
			<div class="row main-footer">
				<div class="col-sm-4 footer-name">
          <h5><span>ANDRE</span></h5>
          <h5><span>BRANDON</span></h5>
          <h5><span>BRIAN</span></h5>
				</div>
				<div class="col-sm-4">
          <h5>04.01.18</h5>
          <h5>05.04.18</h5>
				</div>
				<div class="col-sm-4">
					<ul>
						<li>BUILD IT</li>
						<li>RASPBERRY PI</li>
						<li>RASPBERRY CAMERA</li>
						<li>WIFI DONGLE</li>
						<li>CASE</li>
					</ul>
				</div>
				<div class="sg-network">
					<div class="footer-info">
						<a href="https://www.colostate.edu">
							<img class="less-padding" src="/static/img/csulogo.png" width="194" height="52">
						</a>
					</div>
					<div class="footer-info">
						<span class="large">
                RASPBERRY PI SECURITY CAMERA IS DONE IN ASSOCIATION WITH THE CS370 COURSE AT COLORADO STATE UNIVERSITY
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 footer-bottom-info">
					<div class="footer-info">
						<h5>Founding Group</h5>
						<a href="https://github.com/CSUGameOfThreads/">
							<img src="/static/img/got.png" width="50" height="50">
						</a>
					</div>
				</div>
			</div>
    </footer>
	</body>
</html>
